
.container {
  margin-inline: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}

.title {
  font-family: var(--main-font);
  font-size: var(--lengthL3);
  font-weight: 400;
  display: flex;
  text-align: left;
}

.container[required] .title::after{
  content: "*";
  font-size: var(--lengthM3);
  color: var(--pink);
  margin-left: 4rem;
}

.wrapper{
  flex: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-height: 50rem;
  height: 100%;
}

.boxContainer {
  width: 100%;
  /* margin-bottom: 0.2rem; */
}


.radioBtn {
  position: relative;
  width: 100%;
  height: 5rem;
  margin-block: 0.8rem;
  border-radius: 1.5rem;
  font-size: var(--lengthM2);
  color: white;
  background-color: var(--secondary-background);
  outline: 3px solid var(--placeHolder);
  outline-offset: -3px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.radioBtn:hover:not([disabled]),
.radioBtn.checked{
  outline: 3px solid var(--lime-green);
  background-color: transparent;
  cursor: pointer;
}
.radioBtn > p{
  margin: auto;
  height: fit-content;
}
.radioBtn > :first-child {
  position: absolute;
}

.radioBtn[disabled]{
  opacity: 0.5;
  cursor: not-allowed;
}
.radioBtn[disabled] > :first-child{
  pointer-events: none;
}



.saveBtn {
  width: 100%;
  height: 5rem;
  border-radius: 0.2rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, var(--orange), var(--pink)) 1 / 2px;
  margin-top: 3rem;
  position: relative;

  background: linear-gradient(to right, transparent 50%, var(--pink) 100%) left,
    linear-gradient(to right, transparent 50%, var(--orange) 50%) left;

  background-size: 200%;
  transition: 0.3s ease-out;
}

.saveBtn:hover {
  background-position: right;
}
.saveBtn p {
  font-family: var(--main-font);
  font-size: var(--lengthL1);
  font-weight: 400;
  text-transform: capitalize;
}

.backIcon{
  width: fit-content;
  padding: 1.2rem;
  border-radius: 50%;
  position: absolute;
  top: -3rem;
  left: -7rem;
}