.filterHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    padding-bottom: 1rem;
    position: relative;
}
.filterHeader::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* Adjust the position of the border */
    transform: translateX(-50%);
    width: 80%; /* Adjust the width of the border */
    border-bottom: 2px solid var(--white);
}
.filterTitle{
    font-size: var(--lengthL2);
    font-family: var(--main-font);
    font-weight: 400;
}