.table{
    width: 100%;
    align-items: center;
    vertical-align: top;
    border-collapse: separate;
    border-spacing: 0 3rem;
    font-size: var(--lengthM2);
}

.header{
    vertical-align: bottom;
}

.head{
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: transparent;
    /* white-space: nowrap; */
}


td:first-child {
    border-left-style: solid var(--secondary-background);
    border-top-left-radius: 2rem; 
    border-bottom-left-radius: 2rem;
}
td:last-child {
    border-right-style: solid var(--secondary-background);
    border-bottom-right-radius: 2rem; 
    border-top-right-radius: 2rem; 
}

.row{
    vertical-align: middle;
    background-color: var(--secondary-background);
}
.row>td{
    padding: 1rem 2rem; 
}

.productImg>img{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.tags{
    width: 15rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    font-size: var(--lengthM1);

}

.tags>*{
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: 3rem;
    text-transform: capitalize;
    text-align: center;
    background-color: var(--inputBG);
}
.category{
    text-transform: capitalize;
}
.status{
    text-align: center;
    font-size: var(--lengthM1);
    font-weight: 600;
    /* color: var(--primary-background); */
    padding: .5rem 1rem;
    border-radius: 3rem;
    border: 1px solid var(--status-color);
    text-transform: capitalize;
    width: max-content;
    display: flex;
    align-items: center;
}

.dot{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--status-color);
    margin-right: .5rem;
}

.available{
    --status-color: var(--delivered);
}

.notAvailable{
    --status-color: var(--cancelled);
}

.btn{
    color: var(--primary-text);
    border: 1px solid var(--placeHolder);
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.btn:hover{
    background-color: var(--secondary-background);
}
