.productList{
    background-position:0;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    width: 100%;
  }
  
  .list {
    display: flex;
    width: 80%;
    margin: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
  }
  .list::after,.list::before{
    content: "";
    background-image: url(../../assets/imgs/customerReviews/quotes1.svg);
    width: 6.5rem;
    height: 6.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
  }
  .list::after{
    left: 0;
    top: 0;
    transform: translate(1.5rem,-5rem);
  }
  .list::before{
    right: 0;
    bottom: 0;
    transform: translate(1.5rem,5rem);
    rotate: 180deg;
  }

  .secHeader {
    font-size: 2rem;
    width: fit-content;
    margin: auto;
    margin-block: 5rem;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
    isolation: isolate;
  }
  
  .secHeader>h3{
    font-family: var(--main-font);
    text-align: left;
    font-size: var(--lengthL2);
    font-weight: 400;
    letter-spacing: .1rem;
  }
  .secHeader::after{
    position: absolute;
    content: "";
    background-image: url(../../assets/imgs/customerReviews/bubble.svg);
    width: 12rem;
    height: 12rem;
    background-repeat: no-repeat;
    background-size: contain;
    left: 100%;
    transform: translate(5rem,-2rem);
    z-index: -1;
  }
  
  .moreBtn {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .moreBtn button {
    border: solid 2px var(--faded-grey);
    background-color: var(--secondary-background);
    color: var(--moretext);
    font-size: 1.4rem;
    padding: 1.2rem 0;
    font-weight: 600;
    border-radius: 3px;
    width: 41rem;
    margin: auto;
    margin-bottom: 2rem;
  }
  .moreBtn button:hover {
    border: solid 2px var(--secondary-text);
    background-color: var(--primary-background);
    cursor: pointer;
    transition: 0.5s;
  }
  
  .noevents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0; 
    width: 100%;
    color: var(--gradientFill);
  
  }
  
  .noevents p {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    font-family: var(--main-font);
    
  }
  
  .noevents img{
    width: 35rem;
  }

  
  /* This is the css for alice carousel */
.carouselIndexBtn,
.carouselIndexBtnActive{
    width : 0.2rem;
    height: 0.2rem;
    border: solid 2px var(--primary-text);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}
.carouselIndexBtnActive{
    border: solid 2px var(--pink);
}
.carouseLBtn,
.carouselRBtn,
.carouseLBtnDis,
.carouselRtnDis {
    position: absolute;
    top:40%;
    /* fill: var(--lime-green); */
    color: var(--primary-background);
    background-color: var(--lime-green);
    /* border: solid var(--pink) 2px; */
    border-radius: 5px;
    padding: .5rem;
    margin: auto;
  }

.carouseLBtn:hover,
.carouselRBtn:hover{
    opacity: .8;
    cursor: pointer;
} 
.carouseLBtn{
    left: -5%;
}
.carouselRBtn{
    right: -5%;
}

.carouseLBtnDis{
    left: -5%;
    color: var(--primary-text);
    border: solid var(--primary-text) 2px;
    background-color: transparent;
    opacity: .7;
    cursor: not-allowed;
}

.carouselRtnDis{
    right: -5%;
    color: var(--primary-text);
    border: solid var(--primary-text) 2px;
    background-color: transparent;
    opacity: .7;
    cursor: not-allowed;
}

  .foolingBtn{
      width: 0;
      height: 0;   
  }
  
  
  /* The end of alice carousel css */
  @media screen and (max-width:760px)
    {
      .carouseLBtn,
    .carouselRBtn,
    .carouseLBtnDis,
    .carouselRtnDis {
      display: none !important;
    }
    .secHeader::after{
        width: 0;
    }
    .list {
      width: 90%;
    }
  
    .secHeader{
      display: flex;
      justify-content: center;
    }
  
    .productList{
      overflow: hidden;
    }
    }
  
    @media screen and (max-width: 426px) {
      .secHeader > h3,
      .secHeader > h4 {
        font-size: var(--lengthL2);
      }
      .list::after{
        left: 0;
        top: 0;
        transform: translate(-2rem,-5rem);
      }
    
    }