.page {
  height: 100%;
  background-color: var(--secondary-background);
  width: 100%;
  position: relative;
  isolation: isolate;
  display: flex;
  top: 0;
}

.scrollToBottom {
  position: absolute;
  top: 87vh;
  right: 2vw;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  z-index: 1;
}

.scrollToBottom:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.sideBarFooter {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 2rem;
  margin-inline: auto;
  position: absolute;
  bottom: 0;
}
.SidebarContent {
  width: 100%;
  position: absolute;
  top: 1.5rem;
}

.menuIconWrapper {
  width: 100%;
  display: flex;
}

.configSec {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.configSec h4 {
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  text-align: center;
}

.chooseQA {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chooseQA span {
  font-size: 1.2rem;
  color: var(--light-blue);
  font-weight: 250;
}
.menuIcon {
  color: var(--light-blue);
  font-size: 4rem !important;
  cursor: pointer;
}

.menuIcon:hover {
  border-radius: 50%;
  opacity: 0.8;
}

.logo {
  width: 6rem;
  height: 6rem;
  object-fit: scale-down;
}
.page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      500px circle at 20% 25%,
      rgba(18, 130, 178, 0.2),
      transparent 60%
    ),
    radial-gradient(
      500px circle at 75% 75%,
      rgba(18, 130, 178, 0.2),
      transparent 60%
    );
  z-index: -1;
}

.page h1 {
  background: var(--gradientFill);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 10rem;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
  animation: gradient 3s linear infinite;
  background-image: linear-gradient(to right, #5cbfd7, #9ee5f7);
  background-size: 300%;
  background-clip: text;
  animation: animate-gradient 9s linear infinite;
}

@keyframes animate-gradient {
  from {
    background-position: 300%;
  }
  to {
    background-position: 0%;
  }
}

.query {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  height: fit-content;
  width: clamp(50rem, 70%, 90rem);
  transition: grid-template-rows 2s;
}

.query[data-open="true"] {
  grid-template-rows: 0fr 1fr;
}

.content {
  overflow: hidden;
  color: var(--font-color);
  margin-top: 2rem;
  font-size: 1.7rem;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-inline: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.input {
  display: flex;
  height: 10rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inputField {
  width: 100%;
  height: 5rem;
  padding: 3rem;
  margin-block: 0.8rem;
  border-radius: 1.5rem;
  padding-left: 2.5rem;
  border: none;
  background-color: var(--inputBG);
  font-size: var(--lengthM3);
  color: var(--font-color);
  outline: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}


.inputField::placeholder {
  color: var(--placeHolder);
  pointer-events: none;
}

.submitButton {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.newQuestion {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* margin-left: 1.5rem; */
  margin-bottom: 4rem;
}
.newQuestion a{
  width: 100%;
  background-color: var(--light-blue);
  padding: 1.3rem;
  padding-left: 2.7rem;
  color: var(--white);
  font-size: 2.2rem;
  cursor: pointer;
  transition: background-color 0.5s;
  top: 2rem;
  right: 2rem;
}

.newQuestionSmall {
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--white);
  width: 60%;
  aspect-ratio: 1/1;
  margin: auto;
}

.submitButton img {
  width: 70%;
  height: 70%;
  object-fit: scale-down;
}

.subHeader {
  font-size: 2rem;
  color: var(--light-blue);
  margin-bottom: 1rem;
  width: clamp(50rem, 70%, 90rem);
  padding-left: 2rem;
  text-align: left;
}

.submitButton img:hover {
  transform: scale(1.1);
}
.responseWrapper {
  position: relative;
}
.response::-webkit-scrollbar {
  display: none;
}
.response {
  height: 58vh;
  overflow-y: auto;
  margin-bottom: 3rem;
  border: solid 0.2rem rgba(18, 130, 178, 0.2);
  border-radius: 3rem;
  padding: 2.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.itemFlex {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.itemFlex img {
  width: 5rem;
  height: 5rem;
  object-fit: scale-down;
}

.itemFlex img[data-rotate="true"] {
  animation: rotation 2s infinite linear;
}

.person {
  /* padding-left: 2.5rem; */
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
}

.personLogo {
  font-size: 3.5rem;
}

.person p { 
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
}

.answerWrapper {
  border-radius: 3rem;
  border: solid 0.2rem rgba(18, 130, 178, 0.2);
  height: fit-content;
  padding-block: 2rem;
  background-color: rgba(12, 12, 12, 0.5);
  color: white;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  font-size: var(--lengthM3);
  box-shadow: rgba(50, 49, 49, 0.504) 50px ;
  min-height: 7rem;
}

.list {
  border-radius: 3rem;
  width: clamp(50rem, 70%, 90rem) !important;
  border: solid 0.2rem rgba(18, 130, 178, 0.2);
  max-width: 90rem;
  padding: 3rem;
  height: 40rem;
  margin: auto;
  margin-bottom: 5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.carouselImg {
  width: 25rem;
  height: 30rem;
  object-fit:cover;
  border-radius: 1rem;

}

/* This is the css for alice carousel */
.carouselIndexBtn,
.carouselIndexBtnActive {
  width: 0.2rem;
  height: 0.2rem;
  border: solid 2px var(--light-blue);
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}
.carouselIndexBtnActive {
  border: solid 2px var(--dark-blue);
  background-color: var(--faded-orange);
}
.carouseLBtn,
.carouselRBtn,
.carouseLBtnDis,
.carouselRBtnDis {
  position: absolute;
  fill: var(--white);
  color: var(--white);
  border: solid var(--white) 2px;
  border-radius: 5px;
  padding: 0.5rem;
  margin: auto;
  font-size: 3.5rem !important;
}
.carouselRBtn, .carouselRBtnDis {
  position: absolute;
  top: 0;
  right: 1rem;
}
.carouseLBtn, .carouseLBtnDis {
  position: absolute;
  top: 0;
  right: 6rem;
}
.carouseLBtn:hover,
.carouselRBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}


.carouseLBtnDis {
  color: var(--secondary-text);
  border: solid var(--secondary-text) 2px;
  opacity: 0.8;
  cursor: not-allowed;
}

.carouselRBtnDis {
  color: var(--secondary-text);
  border: solid var(--secondary-text) 2px;
  opacity: 0.8;
  cursor: not-allowed;
}

.foolingBtn {
  width: 0;
  height: 0;
}

/* The end of alice carousel css */
@media screen and (max-width: 380px) {
  .carouseLBtn,
  .carouselRBtn,
  .carouseLBtnDis,
  .carouselRBtnDis {
    /* display: none !important; */
  }

  .carouseLBtnDis,
  .carouseLBtn {
    left: -10%;
  }

  .carouselRBtnDis,
  .carouselRBtn {
    right: -10%;
  }
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
