    .container {
        width: 25%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
    .card{
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    margin:1.6rem;

    background: rgba(143, 143, 153, 0.218);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 2rem;

    max-width: 30rem;
    min-width: 30rem;
    margin: auto;
    margin-bottom: 4rem;
}

.cardImage{
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.cardImage img{
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none; /* Disable mouse events on the image */
}


.cardContent{
    padding: 0 2rem;
    position: relative;
}

.wishlist, .cart{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    justify-content: center;
    align-items: center;
    display: flex;

    cursor: pointer;
}

.wishlist{
    top: 4%;
    left: 80%;
}

.productStateSold, .productStateNew, .productStateSale{
    left: 5%;
    top:6%;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--primary-background);
    border: 0.2rem solid var(--primary-background);
    border-radius: 2rem;
}

.productStateNew{
    background-color: white;
    border: 0.23rem solid var(--pink);
}

.productStateSale{
    background-color: var(--pink);
    border: 0.23rem solid var(--pink);
}

:where(.productStateSold,.productStateNew, .productStateSale) h5{
    padding-block: 0.5rem;
    padding-inline: 1.7rem;
    font-size: var(--lengthM1);
}

.productStateNew{
    color: var(--pink);
}

.cart{
    top: 24%;
    left: 80%;
    border: 0.18rem solid white;
    background-color: transparent;
    opacity: 0.8;
}
.cart:hover{
    opacity: 1;
}

.productName, .productPrice{
    text-align: left;
    font-family: var(--main-font);
    color: white;
    margin-top: 2rem;
    font-size: var(--lengthM2);
    font-weight: 200;
}

.productPrice{
    margin-bottom: 3rem;
    font-size: var(--lengthM3);
}

.horizontalDivider{
    height: 0.15rem;
    background-image: var(--gradientFill );
    border: none;
    margin-block: 1rem;
    width: 80%;
}
.imgSkeleton{
    display: flex;
    margin: auto;
    width: 80%;
    margin: auto;
    margin-block: 5rem;
}

.txtSkeleton{
    width: 80%;
    margin: auto;
    margin-bottom: 10rem;
}

.cardHover:hover{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .card{
        margin-inline: 1.5rem;
    }
    .cardImage{
        height: 28rem;
    }
}